.center
    .separator
    h1.section-title Share the event line-up
    h5.section-sub-title Select artists performing in this event
.row
    autocomplete#browseArtists.col.s12.m4(style="margin-left: 20%", data="artists", ng-model='none', attr-placeholder="Browse artists", on-select="selectArtist", on-type="browseArtists", click-activation='true')               
    label.tooltip.col.s12.m4(for="browseArtists", ng-class="tooltipClass") {{ selectArtistTooltip }}
        a.btn-undo(ng-click="undoAction()", ng-show="showUndo") UNDO
.row
    .center
        a.waves-effect.waves-light.btn.green(ng-click="nextStep();") Done
            i.mdi-navigation-check(style="vertical-align: middle;") 
.row
    table.hoverable
        thead
            tr
                th.hidden(data-field="id") ID
                th.hide-small(data-field="ProfilePic")
                th(data-field="Name") Name
                th(data-field="Hometown") Hometown
                th(data-field="Genre") Genre
                th        
        tbody
            tr(ng-repeat="artist in event.Artists")
                td.hidden {{ artist.Id }}
                td.md-table-thumbs.ng-scope.hide-small
                    .ng-scope(style='background-image:url("http:\/\/api.everlive.com\/v1\/Xi7yEjFuv1A5vbBO\/Files\/{{ artist.ProfilePic }}\/Download")')
                td {{ artist.Name }}
                td {{ artist.Hometown }}
                td {{ artist.Genre }}
                td
                    i.mdi-navigation-close.small.btn-remove.btn-remove(ng-click='removeArtistFromLineup(artist)')       
    // will only be shown when no artists have been selected.
    p(ng-hide="event.Artists.length", style="color: red; text-align: center;")
      span No artist
      |  have been added to this event
      |             line-up.
      br
      | To add one, start by typing a name and then select from the 
      | drop-down list above.                                         
    // hidden during development
    form(name="newartist", ng-show="0")
        h1 NEW ARTIST 
        label(for='artistname') artist name
        input#artistname(type='text', ng-model='event.Artists[0].Name')
        label(for='hometown') hometown
        input#hometowen(type='text', ng-model='event.Artists[0].Hometown')
        label(for='genre') genre
        input#genre(type='text', ng-model='event.Artists[0].Genre')
        label(for='soundcloud') Soundcloud page
        input#soundcloud(type='text', ng-model='event.Artists[0].SoundcouldPage')
        label(for='mixcloud') Mixcloud page
        input#mixcloud(type='text', ng-model='event.Artists[0].MixcloudPage')
        label(for='other') Website
        input#other(type='text', ng-model='event.Artists[0].CirclePage')
        label(for='facebook') Facebook page
        input#facebook(type='text', ng-model='event.Artists[0].FacebookPage')
        label(for='instagram') Instagram page
        input#instagram(type='text', ng-model='event.Artists[0].InstagramPage')
        label(for='twitter') Twitter page
        input#twitter(type='text', ng-model='event.Artists[0].TwitterPage')
        label(for='description') description
        textarea(columns='2', ng-model='event.Artists[0].Description')
