.row
    .separator
    .col.s8
        .col.s6
            h3(style="padding-top: 0px;margin-top: 0px;") Presentation
            p.
                The publicly displayed title of the event and it's description.
        .col.s6
            .input-field(ng-mouseover="tip = 'title'", style="height: 55px;")
                input#title(type="text", ng-model="event.Name", required, placeholder="Add a title")
                label.active(for="title") Title
            .input-field(ng-mouseover="tip = 'description'")
                textarea.materialize-textarea#description(ng-model="event.Description", placeholder="Brief your event")
                label.active(for="description") Description    
    .col.s4
        div(style="position: fixed")
            div(ng-show="tip == 'title'")
                strong A good title
                p
                  | A good title for your event could be the main band,
                  |  followed by "@" and the name of the venue.
                  br
                  | Examples :
                ul.example
                    li - Half moon run @ METROPOLIS
                    li - Vicious party @ Le Belmont
            div(style="margin-top: 75px;", ng-show="tip == 'description'")
                strong A good description
                p
                  | A good description is both complete and interesting !
                  br
                  | Example :
                p.example.
                    Come party this saturday with great DJs and EDM music. 10$ 
                    entrance, 15$ pitchers and from then, the night is YOURS 
                    TO ENJOY !
.center
    a.waves-effect.waves-light.btn(ng-click="nextStep();") Next
        i.mdi-image-navigate-next(style="vertical-align: middle;")
