.center
    .separator
    h1.section-title Where is your event
    h5.section-sub-title Select your venue
.separator
.row
    autocomplete#venuename.col.s12.m4(style="margin-left: 25%", data="venues", ng-model='none', attr-placeholder="Browse venues", on-select="selectVenue", on-type="browseVenues", click-activation='true')
    label.tooltip.col.s12.m4(for="venuename", ng-class="venueTooltipClass") {{ selectVenueTooltip }}
.center
    a.waves-effect.waves-light.btn(ng-click="nextStep();") Next
        i.mdi-image-navigate-next(style="vertical-align: middle;")
input(type="hidden", ng-model="event.Venue.Id", placeholder='venue Id', disabled, required)
.separator
.center.venue-display
    div(ng-if="event.Venue")
        img.venue-cover(src="{{ event.Venue.CoverLink }}")
        div.venue-description
            h3 {{ event.Venue.Name }}
            span {{ event.Venue.Address }}
