.center
    h1.section-title Upload a Live Recording
    h5.section-sub-title Audio files to link to the event
    a.btn.modal-trigger(data-target="modal-mixtrack") upload
    div(style="margin-top: 8px;")
    div(ng-repeat="mixtrack in uploadedMixtracks")
        span {{ mixtrack.title }}, by {{ mixtrack.artist.name }} :&nbsp
        audio(controls, ngf-src="mixtrack", ngf-accept="'audio/*'", style="vertical-align: middle; margin-top: 4px;")
#modal-mixtrack.modal
    .modal-content
        h4 Upload Live Recording
        p.
            Fill information below and choose an audio file to add a mixtrack 
            to your event.
        div
            .row
                .input-field
                    input#mixtrack-title(ng-model="mixtrack.title", type="text")
                    label(for="mixtrack-title") Title
            .row
                autocomplete#browseEventArtists.col.s12.m4(data="suggestedArtists", ng-model='none', on-type="browseEventArtists" attr-placeholder="Browse event artists", on-select="selectMixtrackArtist", click-activation='true')               
                {{ selectedMixtrackArtist.Name }}
            .row
                a.btn.waves-effect.waves-light(ngf-select, ng-model="mixtrack.files", style="margin-right: 8px;") Select MP3
                {{ mixtrack.files[0].name }}
        .center
            a.btn.waves-effect.waves-light(ng-click="uploadMixtrack(mixtrack)") Upload
