link(rel="stylesheet", href="public/stylesheets/cropit.css")
.center(ng-show="loadPhotoStatus === 'loading'")
    .preloader-wrapper.big.active
        .spinner-layer.spinner-blue-only
            .circle-clipper.left
                .circle
            .gap-patch
                .circle
            .circle-clipper.right
                .circle
    p loading photos...  
.center(ng-show="loadPhotoStatus === 'error'")
    i.mdi-alert-error.large.red-text
    p Unable to retrieve event pictures.
.center(ng-if="loadPhotoStatus === 'ready'", ng-show="step == StepEnum.COVER")
    .separator
    h1.section-title Display your event
    h5.section-sub-title Pick an image that best represents your event
    .separator
    #image-cropper(image-state, uri="{{ event.Cover }}")
        .cropit-image-preview.cover-picture
        input.cropit-image-input(type="file", fileread="event.Cover")
        .zoom-control
            input.cropit-image-zoom-input(type="range")
    .center
        a.btn.tooltipped.waves-effect.select-image-btn.transparent.black-text(data-position="top", data-delay="0", data-tooltip="Ideal dimensions: 620px x 146px") Select Image 
            i.mdi-editor-insert-photo(style="vertical-align: middle;")
        a.btn.green.waves-effect.waves-light.white-text(cropit-export, ng-disabled="coverUploadStatus === 'uploaded'") Save Changes  
            i.mdi-navigation-check(style="vertical-align: middle;")    
    .center
        .separator
        .preloader-wrapper.big.active(ng-show="coverUploadStatus === 'uploading'")
            .spinner-layer.spinner-blue-only
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
        i.mdi-navigation-check.medium.green-text(ng-show="coverUploadStatus === 'uploaded'")
        i.mdi-alert-error.medium.red-text(ng-show="coverUploadStatus === 'error'")
    // navigation
    .center
        .separator
        a.waves-effect.waves-light.btn(ng-click="nextStep();") Next 
            i.mdi-image-navigate-next(style="vertical-align: middle;")
    script(src="bower_components/cropit/dist/jquery.cropit.js")
    script.
        $('.select-image-btn').click(function(){
            $('.cropit-image-input').click();
        });
.center(ng-show='loadPhotoStatus === "ready" && step == StepEnum.PHOTOS')
    .separator
    h1.section-title Display your event
    h5.section-sub-title Highlight the best moments
    .picture-count
        span {{ photoCount }} / {{ MAX_PHOTOS }}
    .column
        #upload.target
        div
            i.mdi-alert-error.red-text(ng-show='uploadError') 
                span(style="font-family: Roboto") {{ uploadError }}
            br(ng-show='uploadError')
            i.mdi-action-verified-user.green-text(ng-show='uploadSuccess') 
                span(style="font-family: Roboto") {{ uploadSuccess }}
            br(ng-show='uploadSuccess')         
            .separator
        div
            a.waves-effect.waves-light.btn.green(ng-click="nextStep();") Done
                i.mdi-navigation-check(style="vertical-align: middle;") 
        .separator  
        .event-picture-container(ng-repeat="photo in event.Photos")
            .materialboxed.event-picture(style="background-image: url('{{ photo.Url }}');", materialboxed, removable-photo)
                .added(ng-if="photo.Added")              
    script(type='text/javascript', src='/bower_components/Dropper/jquery.fs.dropper.js')    
    script $('.target').dropper();
