.center
    .separator
    h1.section-title Get social
    h5.section-sub-title Networks help get your event get noticed
.row
    .col.s6(style="margin-left: 25%")
        .input-field
            img.prefix(src="/public/img/icons/facebook.png", style="margin-left: -12px;")      
            input#socialfacebook(type='text', ng-model="event.Fbfeed")
            label.active(for='socialfacebook') Facebook
.row
    .col.s6(style="margin-left: 25%")
        .input-field
            img.prefix(src="/public/img/icons/insta.png", style="margin-left: -12px;")      
            input#socialinstagram(type="text", ng-model="event.Igfeed")        
            label.active(for='socialinstagram') Instagram
.row
    .col.s6(style="margin-left: 25%")
        .input-field
            img.prefix(src="/public/img/icons/twitter.png", style="margin-left: -12px;")      
            input#socialtwitter(type="text", ng-model="event.Twfeed")
            label.active(for='socialtwitter') Twitter
.row
    .col.s6(style="margin-left: 25%")
        .input-field
            img.prefix(src="/public/img/icons/google-plus.png", style="margin-left: -12px;")      
            input#website(type="text", ng-model="event.Website")
            label.active(for="website") Website
.row
    .center
        a.waves-effect.waves-light.btn.green Done
            i.mdi-navigation-check(style="vertical-align: middle;") 
