.center
    div(style="margin-bottom: 0px")
        img(src="/public/img/google-calendar.png", height='200')
    h1.section-title Plan your event
    h5.section-sub-title Adjust the public schedule
    div(style="margin-top: 45px;")
        input.date-input(type="text", ng-model="event.Date", placeholder="Begin", date-time-picker, required)
        span to
        input.date-input(type="text", ng-model="event.End", min="{{ event.Date }}", placeholder="End", date-time-picker, required)
    div(style="margin-top: 45px")
        a.waves-effect.waves-light.btn(ng-click="nextStep()")
          i.mdi-image-navigate-next.right
          | Next
script(src="/bower_components/datetimepicker/jquery.datetimepicker.js")
