doctype html
html(ng-app='ManagementPlatformApp')
  head
    title=title
    link(type="text/css" rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.css')
    link(type="text/css" rel='stylesheet' href='/public/stylesheets/custom.css')
    link(type="text/css" rel='stylesheet' href='/public/stylesheets/events.css')
    link(type="text/css" rel='stylesheet' href='/public/stylesheets/autocomplete.css')
    link(type="text/css" rel='stylesheet' href='/bower_components/Dropper/jquery.fs.dropper.css')  
    link(type="text/css" rel='stylesheet' href='/bower_components/datetimepicker/jquery.datetimepicker.css')
  body(layout="column")
    script(src='/public/scripts/facebookLoadSDK.js', type='text/javascript')
    section(ng-controller="mainController", layout='row')      
      nav(ng-hide="eventMode")
        ul#nav-mobile.side-nav.fixed
            .toggle-active.content-edit-list
                li.waves-effect.waves-teal(ng-class="{active: state=='home'}")  
                    a(ui-sref='home') Home
                        i.small.mdi-action-home.black-text.badge
                li.waves-effect.waves-teal(ng-class="{active: state=='account'}")
                    a(ui-sref='account') My account
                        i.small.mdi-social-person.black-text.badge
                li.border-top-gray.waves-effect.waves-teal(ng-class="{active: state=='events'}")
                    a(ui-sref='events') Events
                        i.small.mdi-editor-insert-invitation.black-text.badge
                li.waves-effect.waves-teal(ng-class="{active: state=='facebook'}")
                    a(ui-sref='facebook') Link
                        i.small.mdi-content-link.black-text.badge
        .container
            .nav-wrapper
                a.button-collapse.top-nav(href='', data-activates='nav-mobile')
                    i.mdi-navigation-menu            
                a.page-title {{ title }}                                               
      div.sidenav-offset(ui-view, flex='')
// Global dependencies
script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
script(type='text/javascript', src='/bower_components/materialize/dist/js/materialize.js')
script(type='text/javascript', src='/bower_components/angular/angular.js')
script(type='text/javascript', src='/bower_components/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src="/bower_components/ng-file-upload/ng-file-upload.js")
// page level dependencies
script(src='/public/scripts/autocomplete.js')
script(src='/public/scripts/panel.js')
script(src='/public/scripts/controllers/mainController.js')
script(src='/public/scripts/controllers/homeController.js')
script(src='/public/scripts/controllers/eventsController.js')
script(src='/public/scripts/controllers/accountController.js')   
script(src='/public/scripts/controllers/linkController.js')   
script(type='text/javascript', src='/public/scripts/sidenav.js')
