html(lang='en', data-ng-app="ManagementPlatformApp", ng-init="showForm = 'login';regUser={}")
head
  link(type="text/css" rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.css')
  link(rel='stylesheet', href='/public/stylesheets/login.css')
  script(src='/public/scripts/facebookLoadSDK.js', type='text/javascript')
  script(src='/public/scripts/facebookLogin.js', type='text/javascript')
body(ng-controller="authenticationController", style="display: none;")
#form_wrapper.container
  // BEGIN LOGIN FORM
  #login.signin-card(ng-show="showForm == 'login'")
    .center
        img(src="/public/img/icon.png")
    h1.display1 Management Platform
    p.subhead Sign in
    form#facebook(action='/loginWithFacebook', method='post')
      input#token(type='hidden', name='authToken')
    form(action='/login', method='post')
      .alert.alert-danger.display-hide
        span#error #{authError}
      span(style="color: green; display: block; text-align: center;", ng-show="loginSuccessMsg.length > 0") {{ loginSuccessMsg }}
      div.input-field#form-login-username    
        i.mdi-action-account-circle.prefix.validate        
        input#username.validate(type='email', autocomplete='off', name='email', required, value=email, tabIndex='1')
        label(for='username', style='margin-left: 2.3rem;') Email
      div.input-field#form-login-password  
        i.mdi-action-lock.prefix    
        input#passwd(type='password', autocomplete='off', name='password', required, tabIndex='2')
        label(for='passwd', style='margin-left: 2.3rem;') Password
      div(style="text-align: right; float: right; margin-bottom: 8px;")
          a.login-link(ng-click="showForm = 'forgot'", href="") Forgot password ?
          br
          a.login-link(ng-click="showForm = 'register'", href="") No account ? Click here to register
      #fb-root.fb_reset
        fb:login-button(scope='public_profile,email', onlogin='checkLoginState();', data-size="large")
      div.input-field.form-submit(md-layout="column")
        a#submit.col.s12.waves-effect.waves-teal.btn-flat(tabIndex='5') SIGN IN
  // END LOGIN FORM
  #register.signin-card(ng-show="showForm == 'register'")
      a.login-link.back-to-login(href="", ng-click="showForm = 'login'") 
        i.mdi-hardware-keyboard-arrow-left.tiny
        span Go back
      .center
          img(src="/public/img/icon.png", width=75)
      h1.display1 Management Platform
      p.subhead Register new account      
      span(style="color: red; display: block; text-align: center;", ng-show="registerError.length > 0") {{ registerError }}
      .input-field       
        input#regEmail(type='text', autocomplete='off', name='email', required, tabIndex='1', ng-model="regUser.email")
        label(for='regEmail', style='left: 0') Email
      .input-field
        input#regPwd(type='password', autocomplete='off', name='password', tabIndex='2', ng-model="regUser.password")
        label(for='regPwd', style='left: 0') Password
      .input-field
        input#regPwdConf(type='password', autocomplete='off', name='password', tabIndex='3', ng-model="regUser.confirmPassword")
        label(for='regPwdConf', style='left: 0') Confirm Password
      a.submit.col.s12.waves-effect.waves-teal.btn-flat(tabIndex='5', ng-click="registerUser(regUser)") SEND
  #forgot.signin-card(ng-show="showForm == 'forgot'")
      a.login-link.back-to-login(href="", ng-click="showForm = 'login'") 
        i.mdi-hardware-keyboard-arrow-left.tiny
        span Go back
      .center
          img(src="/public/img/icon.png", width=75)
      h1.display1 Management Platform
      p.subhead Password recovery
      span(style="color: red; display: block; text-align: center;", ng-show="recoverError.length > 0") {{ recoverError }}
      p Send us your email address and we will help you.
      .input-field   
        input(type='text', autocomplete='off', name='passwdrecovery', required, tabIndex='0', ng-model="recoveryEmail")
        label(for='passwdrecovery', style='left: 0') Email
      a.submit.col.s12.waves-effect.waves-teal.btn-flat(tabIndex='5', ng-click="recoverPassword(recoveryEmail)") SEND
// App level dependencies
script(src='/bower_components/angular/angular.js')
script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
script(type='text/javascript', src='/bower_components/jquery-validation/dist/jquery.validate.js')
script(type='text/javascript', src='/bower_components/materialize/dist/js/materialize.js')
script(type='text/javascript', src="/bower_components/ng-file-upload/ng-file-upload.js")
script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
script(src='/public/scripts/autocomplete.js')
// PAGE LEVEL DEPENDENCIES
script(src='/public/scripts/login.js')
script(src='/public/scripts/panel.js')
script(src='/public/scripts/controllers/authenticationController.js')
