/* Show load indicator when image is being loaded */
.cropit-image-preview.cropit-image-loading .spinner {
  opacity: 1;
}

/* Show move cursor when image has been loaded */
.cropit-image-preview.cropit-image-loaded {
  cursor: move;
}

/* Gray out zoom slider when the image cannot be zoomed */
.cropit-image-zoom-input[disabled] {
  opacity: .2;
}

/* Hide default file input button if you want to use a custom button */
input.cropit-image-input {
  visibility: hidden;
}

/* The following styles are only relevant to when background image is enabled */

/* Translucent background image */
.cropit-image-background {
  opacity: .1;
}

/* Style the background image differently when preview area is hovered */
.cropit-image-background.cropit-preview-hovered {
  opacity: .2;
}

input.cropit-image-zoom-input {
    width: 150px;
    line-height: 60px;
    margin-top: 27px;
    vertical-align: middle;
}

input.cropit-image-zoom-input:before {
    position: absolute;
    top: -24px; /* - height */
    left: calc(-24px - 10px); /* width + 10px margin*/
    content: url("/public/img/zoom-small.png");
    vertical-align: middle;
}

input.cropit-image-zoom-input:after {
    position: absolute;
    top: -25px;
    padding-left: 10px;
    content: url("/public/img/zoom-large.png");
    vertical-align: middle;
}
