﻿/*
*   NAVIGATION ********************************
*   ACCOUNT ***********************************
*   EVENTS ************************************
*   ARTISTS CRUD ******************************
*   DESKTOP DISPLAY ***************************
*   MOBILE DISPLAY ****************************/

.input-field label {
    left: 0 !important; /* overwrite a problematic materializecss property */
}
/**********************************************
*************** NAVIGATION ********************
***********************************************/
.nav-tools {
    text-align: right;
}

.border-top-gray {
    border-top: 1px solid #eee;
}

i.badge {
  line-height: inherit;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a.page-title {
    font-size: 32px;
}

a.page-title.edit-page {
    margin-right: 8px;
}

.offset-placeholder::-webkit-input-placeholder { /* WebKit browsers */
    padding-left: 32px;
}
.offset-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   padding-left: 32px;
}
.offset-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
   padding-left: 32px;
}
.offset-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    padding-left: 32px;
}

.side-nav li {
    width: 100%;
}
/**********************************************
****************** ACCOUNT  *******************
***********************************************/
.account-setting {
    float: right;
    /* same as h5 */
    line-height: 1.804rem;
    margin: 0.82rem 0 0.656rem 0;
}

.field-error {
    color: red;
}

.dropdown-button:hover {
    cursor: pointer;
}

.profile-picture {
    width: 220px;
    height: 220px;
    float: left;
    margin-left: calc(50% - 110px); /* Center horizontally */
    background-repeat: no-repeat;
}

.edit-picture-toolbar {
    background: rgba(0, 0, 0, .5);
    color: white;
}

.edit-picture-toolbar > span {
    margin-left: 6px;
}

.edit-picture-toolbar > i:hover {
    color: lightgray;
}
.edit-picture-toolbar > i {
    float: right;
    margin-right: 6px;
    cursor: pointer;
}

.edit-picture {
    opacity: 0;
    transition-property: opacity;
	transition-duration: 0.4s;
    width: 100%;
    height: 100%;
}

.edit-picture:hover {
    opacity: 1;
}

.clickable:hover {
    cursor: pointer;
}

.profile-thumb {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
}

.artist-profile {
    width: 175px;
    height: 175px;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    background-position-x: center;
    vertical-align: top;
    margin-right: 16px;
}

.artist-profile + div {
    display: inline-block;
    width: calc(100% - 191px);  /* -artist-profile width */
}

.artist-name {
    line-height: 24px;
    font-weight: bold;
}

.artist-hometown {
    color: gray;
}

table.artist-pages td {
    padding: 0;
}

td.artist-pages-link {
    max-width: 220px;   /* magic number */
}
/**********************************************
****************** EVENTS  ********************
***********************************************/
.collapsible-thumb {
    width: 29px;
    height: 29px;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1em;
    position: relative;
    top: 7px;
}

.page-events {
    max-height: 300px;
    overflow-y: scroll;
}

.page-name-truncate{
    display: inline-block;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    margin-right: 1em;
}

.page-name {
    font-size: 28px;
    margin-right: 8px;
}
.like-count {
    color: blue;
    position: absolute;
    right: 6em; /* delete-button width */
}

@media all and (min-width: 993px){
    .fixed-action-btn.top-on-med-and-up {
        top: 20px;
        left: 260px;
        width: 20px;
        height: 20px;
    }
}

#modal-event {
    z-index: 100000;   /* Lay over tooltip */
    background: #ff9800;
    color: white;
}

.modal-trigger {
    -webkit-transition: opacity 0.2s ease-in;
}

.flat-btn-panel {
    width: 100%;
    height: 100px;
    margin: 0;
    margin-top: 16px;
    display: flex;
}

.flat-btn-panel .panel-btn {
    margin-left: 8px;
    margin-right: 8px;
    flex: 1;
}

.panel-btn .btn-content {
    height: 75px;
    margin-top: 12px;
    text-align: center;
    vertical-align: middle;
}

.nav-btn {
    width: 64px;
    height: 64px;
    text-align: center;
    padding: inherit;
    line-height: inherit;
}

.nav-btn i {
    color: #b4f7ff;
}

.nav-btn.disabled i {
    color: lightgray;
}

.nav-btn:not(.disabled):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-btn:not(.disabled):hover {
    color: white;
}

.nav-btn:not(.disabled):hover.save i {
    color: green;
}

.nav-btn:not(.disabled):hover.cancel i {
    color: red;
}

.validSection, .validSection>i {
    color: green !important;
}

.emptySection, .emptySection>i {
    color: #e1d913 !important;
}

.invalidSection, .invalidSection>i {
    color: red !important;
}

.cover-picture {
    width: 620px;
    height: 146px;
    margin: 0 auto;
}

.venue-cover {
    vertical-align: top;
    max-width: 280px;
    max-height: 140px;
    margin-right: 16px;
}

.venue-display {
    width: 70%;
    margin: 0 auto;
    height: 208px;
}

.venue-description {
    text-align: left;
    display: inline-block;
}

.zoom-control {
    position: relative;
    top: -23px;
    margin: 0 auto;
    width: 620px;
    height: 60px;
    box-shadow: 0px 2px 3px rgba(170, 170, 170, 0.7);
    background-color: white;
    text-align: center;
}

@media all and (max-width: 620px){
    /* Keep the right dimensions on small screen*/
    .cover-picture {
        zoom: 0.5;
        -moz-transform: scale(0.5);
    }

    .zoom-control {
        width: 320px;
    }
}

.picture-count span {
    margin-bottom: 10px;
    font-size: 12px;
    color: gray;
}

.cover {
    text-align: center;
    margin-top: -23px;
    height: 330px;
}

.float-over-cover {
	position: absolute;
    top: 364px;
    right: 64px;
    z-index: 10;
}
.event-picture-container {
    display: inline-block;
}

.event-picture, .added {
    width: 256px;
    height: 256px;
    background-repeat: no-repeat;
    background-position: center;
}

.event-picture:not(.active) {
    border: 1px solid black;
}

.event-thumb {
    width: 30px;
    height: 30px;
    margin-top: 17px;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    border-radius: 50%;
}

.material-placeholder {
    display: inline-block;
}

@media only screen and (max-width: 992px){
    .event-picture, .added {
        width: 150px;
        height: 150px;
    }
}

.event-picture:not(.active) .added {
    position: absolute;
    background-color: lime;
    opacity: 0.2;
}

.event-picture .tools {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    top: 62%;
}

div.deleted {
    width: 100%;
    height: 100%;
    box-shadow:inset 1px 1px 60px 0;
    background:rgba(0,0,0,.55);
}

span.deleted {
    position: absolute;
    top: calc(50% - 31px);
    left: calc(50% - 15px);
    font-size: 48px;
    color: red;
    text-align: center;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-sub-title {
    color: gray;
    margin-top: 0px;
}
/* Quick solution: hide tools when image is zoomed-in */
.event-picture.active .tools {
    display: none;
}

.separator {
    margin-bottom: 24px;
}

.date-input {
    max-width: 250px;
    margin-left: 30px !important;
    margin-right: 30px !important;
    text-align: center;
}

.example {
    color: gray;
}

li .left-icon {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
}

.content-edit-list li.active {
    background-color: rgb(124,242,231);
    color: #b5d2d6;
}

.content-edit-list li.active:hover {
    background-color: rgba(124,242,231, 0.8);
}

.content-edit-list li:hover {
    background-color: rgba(124,242,231, 0.5);
}
.list-footer {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.text-muted {
    color: #53c8d6;
    position: absolute;
}

.normal-link-underline {
    color: white;
    position: relative;
    text-decoration: underline;
}
/**********************************************
*************** ARTISTS CRUD *****************
***********************************************/
.tooltip {
    margin-top: 25px;
}

.tooltip.success {
    color: green;
}

.error {
    color: red;
}

.tooltip.info {
    color: #9e9e9e;
}
/**********************************************
*************** DESKTOP DISPLAY ***************
***********************************************/
@media all and (min-width: 993px) {
    .sidenav-offset {
        margin-left: 240px;
    }

    a.page-title {
        margin-left: 201px;
    }

    a.page-title.edit-page {
        margin-left: -20%;
    }
}
/**********************************************
*************** MOBILE DISPLAY ****************
***********************************************/
@media all and (max-width: 992px){
    .nav-wrapper {
        text-align: center;
    }

    .nav-btn {
        width: 30px;
        height: 100%;
    }
}
