a {
    text-decoration: none;
}

.main-fab {
    transition-property: left, top;
    transition-duration: 0.6s;
    position:absolute;
    z-index:20;
    font-size:30px;
    transform:scale(.88,.88);
    left: calc(100vw - 66px);
    top: calc(100vh - 66px);
}

@media all and (min-width: 960px){
    .main-fab {
        transition-property: left, top;
        transition-duration: 0.6s;
        left: 244px;
        top:35px;
    }
}

.md-breadcrumb {
    padding-left:88px;
}

.md-table {
    min-width: 100%;
    border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
    cursor:pointer;
    background-color:rgba(63,81,181,0.2);
}

.md-table-header {
    border-bottom: 1px solid rgb(230,230,230);
    color: rgb(130,130,130);
    text-align: left;
    font-size: 0.75em;
    font-weight: 700;
    padding: 16px 16px 16px 0;
}

.md-table-header a{
    text-decoration: none;
    color: inherit;
}

.md-table-caret {
    display: inline-block;
    vertical-align: middle;
}

.md-table-content {
    font-size: 0.8em;
    padding: 16px 16px 16px 0;
    height: 72px;
}

.md-table-td-more {
    max-width:72px;
    width:72px;
    padding:16px;
}

@media all and (max-width: 600px){
    .hide-small {
        display: none;
    }
}
.md-table-thumbs {
    max-width: 104px;
    width: 104px;
    padding: 16px 32px;
}

.md-table-thumbs div {
    overflow:hidden;
    width: 40px;
    height:40px;
    border-radius:20px;
    border: 1px solid rgba(0,0,0,0.2);
    background-size:cover;
    box-shadow: 0 8px 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
    height:40px;
}

.md-table-count-info {
    line-height:40px;
    font-size:.75em;
}

.md-table-footer-item {
    width: 40px;
    height: 40px;
    vertical-align:middle;
}

.md-table-active-page {
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.fade {
    color: grey;
}

.hidden {
    display: none;
}

md-input-container.md-default-theme .md-input#search {
    color: white;
    border-color: white;
    margin-top: 24px;
}

#pink {
    background-color: rgb(255,64,129)
}

.md-button.formNav {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 16px;
    font-size: 14px;
}

.md-subheader .focused {
    text-decoration: underline;
}

.md-subheader div {
    display: inline;
}

md-content.overview {
    margin: 16px;
    text-align: left;
}

md-content.overview md-content {
    margin-left: 16px;
    margin-right: 16px;
}

md-content.overview h3 {
    font-size: 12px;
    color: black;
}

md-content.overview label {
    font-size: 14px;
    color: #d3d3d3;
}

md-content.overview span {
    font-size: 14px;
}

md-content.overview img {
    margin-right: 8px;
}

md-input-container#titleEdit {
    font-size: 2.5em;
}

md-input-container#artistNameEdit {
    font-size: 1.5em;
}

.btn-remove:hover {
    cursor: pointer;
    color: red;
}

.btn-undo {
    margin-left: 8px;
}

.btn-undo:hover {
    cursor: pointer;
    text-decoration: underline;
}
