div(ng-init="setEventMode(false);showForm='info'")
    .container
        .right
            span {{ user.Username }}
            img.profile-thumb(style="background:url({{ user.Picture }}); vertical-align: middle; margin-left: 8px;")
            p(style="text-align: right")
                a.waves-effect.waves-effect.btn-flat(style="width: 166px; text-align: center; padding: 0 4px;", ng-click="showForm = showForm == 'info' ? 'password' : 'info'") {{ showForm == 'password' ? 'Edit Profile' : 'Change password' }}
        h4 Your Account
        p View and manage your profiles
        p.center.red-text {{ passwordError }}
        p.center.green-text {{ passwordSuccess }}
        .row(ng-show="showForm == 'password'")
            .col.m10
                .col.m2
                    &nbsp
                .card
                    .card-content
                        i.mdi-action-lock.small(style="margin-right: 8px")
                        span.card-title.black-text Change Password
                        .right
                            i.mdi-navigation-close.small.grey-text.clickable(ng-click="showForm = 'info'")
                        .input-field
                            input#Password(type="password", ng-model="currentPassword", ng-change="confirmPasswordError = ''; currentPasswordError = ''")
                            label(for="Password") Current Password
                        span.field-error {{ currentPasswordError }}
                        .input-field
                            input#Password(type="password", ng-model="password", ng-change="confirmPasswordError = ''; userPasswordError = ''")
                            label(for="Password") New Password
                        span.field-error {{ userPasswordError }}
                        .input-field
                            input#ConfirmPassword(type="password", ng-model="confirmPassword", ng-change="confirmPasswordError = ''")
                            label(for="ConfirmPassword") Confirm Password
                        span.field-error {{ confirmPasswordError }}
                        .center
                            a.waves-effect.waves-light.btn.green(ng-click="changePassword(user);") Save Password
                              i.mdi-navigation-check.right
        .row(ng-show="showForm == 'info'")
          .col.s12
            ul.tabs.z-depth-1
              li.tab.col.s6
                a(href='#artist') Artist
              li.tab.col.s6
                a(href='#promoter') Promoter                       
          #artist.col.s12
            .center(ng-show="!user.Artist")
                h3(style="margin-bottom: 0;") Add artist profile
                div
                    i.mdi-hardware-keyboard-arrow-down.grey-text.medium
                a.btn-floating.btn-large.waves-effect.waves-light.pink(ng-show="!showArtistSelect", ng-click="showArtistSelect = true")
                    i.mdi-content-add
            .row(ng-show="showArtistSelect || user.Artist")
                .col.m1.hide-on-small-only &nbsp
                autocomplete#browseArtists.col.s10.m10(ng-blur="showArtistSelect = false", data="artists", ng-model='none', attr-placeholder="{{ user.Artist ? 'Change artist' : 'Select artist' }}", on-select="selectArtist", on-type="browseArtists", click-activation='true')
                a.tooltipped.btn-floating.waves-effect.waves-light.pink(style="margin-top: 13px; margin-left: 8px;", ng-click="showForm = 'createArtist'", data-tooltip="Create Artist")
                    i.mdi-content-add
            .center(style="margin-bottom: 16px; margin-top: -16px;")
                span.artist-profile-status(ng-class="artistProfileUpdateClass") {{ artistProfileUpdateStatus }}
            div(ng-show="user.Artist", style="opacity : {{ artistProfileUpdateClass == 'red-text' ? 0.35 : 1 }}")
                img.artist-profile(style='background-image:url({{ user.Artist.ProfilePicLink || "http:\/\/api.everlive.com\/v1\/Xi7yEjFuv1A5vbBO\/Files\/"+ user.Artist.ProfilePic + "\/Download"}})')
                div
                    span.artist-name {{ user.Artist.Name }}
                    br
                    table.artist-pages
                        tr(ng-show="user.Artist.FacebookPage && !(user.Artist.FacebookPage == 'aa')")
                            td.artist-pages-type Facebook :
                            td.artist-pages-link.truncate 
                                a.right(href="{{ user.Artist.FacebookPage }}") {{ user.Artist.FacebookPage }}                        
                        tr(ng-show="user.Artist.TwitterPage && !(user.Artist.TwitterPage == 'aa')")
                            td.artist-pages-type Twitter :
                            td.artist-pages-link.truncate 
                                a.right(href="{{ user.Artist.TwitterPage }}") {{ user.Artist.TwitterPage }}
                        tr(ng-show="user.Artist.InstagramPage && !(user.Artist.InstagramPage == 'aa')")
                            td.artist-pages-type Instagram :
                            td.artist-pages-link.truncate 
                                a.right(href="{{ user.Artist.InstagramPage }}") {{ user.Artist.InstagramPage }}
                        tr(ng-show="user.Artist.SoundCloudPage && !(user.Artist.SoundCloudPage == 'aa')")
                            td.artist-pages-type SoundCloud :
                            td.artist-pages-link.truncate 
                                a.right(href="{{ user.Artist.SoundCloudPage }}") {{ user.Artist.SoundCloudPage }}
                        tr(ng-show="user.Artist.YoutubePage && !(user.Artist.YoutubePage == 'aa')")
                            td.artist-pages-type Youtube :
                            td.artist-pages-link.truncate 
                                a.right(href="{{ user.Artist.YoutubePage }}") {{ user.Artist.YoutubePage }}
                        tr(ng-show="user.Artist.BandcampPage && !(user.Artist.BandcampPage == 'aa')")
                            td.artist-pages-type Bandcamp :
                            td.artist-pages-link.truncate 
                                a.right(href="{{ user.Artist.BandcampPage }}") {{ user.Artist.BandcampPage }}
                        tr(ng-show="user.Artist.WebsitePage && !(user.Artist.WebsitePage == 'aa')")
                            td.artist-pages-type Website :
                            td.artist-pages-link.truncate 
                                a.right(href="{{ user.Artist.WebsitePage }}") {{ user.Artist.WebsitePage }}                     
                p {{ user.Artist.Description }}
          #promoter.col.s12
            .center(ng-if="!user.Promoter")
                h3(style="margin-bottom: 0;") Add Promoter profile
                div
                    i.mdi-hardware-keyboard-arrow-down.grey-text.medium
                h5 Coming Soon !
                a.btn-floating.btn-large.waves-effect.waves-light.pink(ng-show="false")
                    i.mdi-content-add
        .row(ng-show="showForm == 'createArtist'", ng-init="newArtist = {}")
            .col.m10
                .col.m2
                    &nbsp
                .card
                    .card-content
                        i.mdi-social-person.small(style="margin-right: 8px")
                        span.card-title.black-text Create a new artist
                        .right
                            i.mdi-navigation-close.small.grey-text.clickable(ng-click="showForm = 'info'")
                        div(ng-show="createArtistStatus != 'uploading'")
                            .input-field
                                input#artistName(type="text", ng-model="newArtist.Name")
                                label(for="artistName") Name
                            span.field-error {{ artistNameError }}
                            span Profile Pic : 
                            img(ng-src="{{ newArtist.ProfilePicLink }}" width='120', height='120', class="right")
                            input(type='file', accept='image/*', fileread="newArtist.ProfilePicLink")
                            .input-field(style="clear: right;")
                                input#artistGenre(type="text", ng-model="newArtist.Genre")
                                label(for="artistGenre") Genre
                            span.field-error {{ artistGenreError }}
                            .input-field
                                input#artistHometown(type="text", ng-model="newArtist.Hometown")
                                label(for="artistHometown") Hometown
                            span.field-error {{ artistHometownError }}
                            .input-field
                                input#NfbLike(type="text", ng-model="newArtist.NfbLike")
                                label(for="NfbLike") Number of Facebook likes
                            span.field-error {{ NfbLikeError }}
                            .input-field
                                input#description(type="text", ng-model="newArtist.Description")
                                label(for="description") Description
                            span.field-error {{ descriptionError }}
                            .input-field
                                input#facebookPage(type="text", ng-model="newArtist.FacebookPage")
                                label(for="facebookPage") Facebook Page
                            span.field-error {{ facebookPageError }}
                            .input-field
                                input#twitterPage(type="text", ng-model="newArtist.TwitterPage")
                                label(for="twitterPage") Twitter Page
                            span.field-error {{ twitterPageError }}
                            .input-field
                                input#instagramPage(type="text", ng-model="newArtist.InstagramPage")
                                label(for="instagramPage") Instagram Page
                            span.field-error {{ instagramPageError }}
                            .input-field
                                input#soundCloudPage(type="text", ng-model="newArtist.SoundCloudPage")
                                label(for="soundCloudPage") SoundCloud Page
                            span.field-error {{ soundCloudPageError }}
                            .input-field
                                input#beatPortPage(type="text", ng-model="newArtist.BeatportPage")
                                label(for="beatPortPage") BeatPort Page
                            span.field-error {{ beatPortPageError }}
                            .input-field
                                input#youtubePage(type="text", ng-model="newArtist.YoutubePage")
                                label(for="youtubePage") Youtube Page
                            span.field-error {{ youtubePageError }}
                            .input-field
                                input#websitePage(type="text", ng-model="newArtist.WebsitePage")
                                label(for="websitePage") Website Page
                            span.field-error {{ websitePageError }}
                            .input-field
                                input#bandCampPage(type="text", ng-model="newArtist.BandCampPage")
                                label(for="bandCampPage") BandCamp Page
                            span.field-error {{ bandCampPageError }}
                            .center
                                a.waves-effect.waves-light.btn.green(ng-click="createArtist(newArtist);") Submit
                                    i.mdi-navigation-check.right
                        div(ng-show="createArtistStatus == 'uploading'")
                            .center
                                .preloader-wrapper.big.active
                                    .spinner-layer.spinner-blue-only
                                        .circle-clipper.left
                                            .circle
                                        .gap-patch
                                            .circle
                                        .circle-clipper.right
                                            .circle
                                p Creating artist...
