.center(ng-show="eventLoad == 'loading'")
    nav
    .preloader-wrapper.big.active
        .spinner-layer.spinner-blue-only
            .circle-clipper.left
                .circle
            .gap-patch
                .circle
            .circle-clipper.right
                .circle
    p Fetching event information...
    a.waves-effect.waves-light.btn.red(ui-sref='events')
      i.mdi-image-navigate-before.left
      | Back
content(ng-init='setEventMode(true);setStep(StepEnum.TIME);', ng-show="eventLoad == 'loaded'")
  nav
    ul#nav-events.side-nav.fixed(ng-show="eventMode")
            .content-edit-list
                li.waves-effect.waves-teal(ng-class="step == StepEnum.TIME ? 'active' : ''")
                    i.small.mdi-action-schedule.black-text.left-icon                
                    a(ng-click="setStep(StepEnum.TIME)") When
                        i.small.mdi-navigation-check.green-text.badge(ng-show="reqForms.time.$valid")
                        i.small.mdi-navigation-close.red-text.badge(ng-show="!reqForms.time.$valid")
                li.waves-effect.waves-teal(ng-class="step == StepEnum.DETAILS ? 'active' : ''")
                    i.small.mdi-action-description.black-text.left-icon   
                    a(ng-click="setStep(StepEnum.DETAILS)") What
                        i.small.mdi-navigation-check.green-text.badge(ng-show="reqForms.details.$valid")
                        i.small.mdi-navigation-close.red-text.badge(ng-show="!reqForms.details.$valid")
                li.waves-effect.waves-teal(ng-class="step == StepEnum.COVER ? 'active' : ''")
                    i.small.mdi-editor-insert-photo.black-text.left-icon   
                    a(ng-click="setStep(StepEnum.COVER);") Cover
                        i.badge.event-thumb(style="background: url('{{ event.Cover }}')")
                li.waves-effect.waves-teal(ng-class="step == StepEnum.PHOTOS ? 'active' : ''")
                    i.small.mdi-image-photo-library.black-text.left-icon   
                    a(ng-click="setStep(StepEnum.PHOTOS);") Photos
                        span.badge(style="margin-right: 8px;") {{ loadPhotoStatus == 'ready' ? photoCount : event.Photos.length + event.Photos_Url.length }}                        
                li.waves-effect.waves-teal(ng-class="step == StepEnum.ARTISTS ? 'active' : ''")
                    i.small.mdi-action-account-child.black-text.left-icon   
                    a(ng-click="setStep(StepEnum.ARTISTS)") Artists
                        i.small.mdi-navigation-check.green-text.badge(ng-show="event.Artists && event.Artists.length")
                        i.small.mdi-navigation-close.red-text.badge(ng-show="!(event.Artists && event.Artists.length)")
                li.waves-effect.waves-teal(ng-class="step == StepEnum.LOCATION ? 'active' : ''")
                    i.small.mdi-social-location-city.black-text.left-icon   
                    a(ng-click="setStep(StepEnum.LOCATION)") Venue
                        i.small.mdi-navigation-check.green-text.badge(ng-show="reqForms.venue.$valid")
                        i.small.mdi-navigation-close.red-text.badge(ng-show="!reqForms.venue.$valid")
                li.waves-effect.waves-teal(ng-class="step == StepEnum.SOCIAL ? 'active' : ''")
                    i.small.mdi-social-public.black-text.left-icon   
                    a(ng-click="setStep(StepEnum.SOCIAL)") Links 
                li.waves-effect.waves-teal(ng-class="step == StepEnum.MIXTRACK ? 'active' : ''", ng-show="false")
                    i.small.mdi-social-public.black-text.left-icon   
                    a(ng-click="setStep(StepEnum.MIXTRACK)") Audio Recordings 
                .list-footer.border-top-gray
                    span.red-text(ng-show="(reqForms.time.$valid ? 0 : 1) + (reqForms.details.$valid ? 0 : 1) + (event.Artists.length > 0 ? 0 : 1) + (reqForms.venue.$valid ? 0 : 1) > 0", ng-style="(reqForms.time.$valid ? 0 : 1) + (reqForms.details.$valid ? 0 : 1) + (event.Artists.length > 0 ? 0 : 1) + (reqForms.venue.$valid ? 0 : 1) > 0 ? 'color:red;' : 'color:black;'") {{ (reqForms.time.$valid ? 0 : 1) + (reqForms.details.$valid ? 0 : 1) + (event.Artists.length > 0 ? 0 : 1) + (reqForms.venue.$valid ? 0 : 1) }} {{ (reqForms.time.$valid ? 0 : 1) + (reqForms.details.$valid ? 0 : 1) + (event.Artists.length > 0 ? 0 : 1) + (reqForms.venue.$valid ? 0 : 1) == 1 ? 'Section' : 'Sections' }} 
                    span(ng-show="(reqForms.time.$valid ? 0 : 1) + (reqForms.details.$valid ? 0 : 1) + (event.Artists.length > 0 ? 0 : 1) + (reqForms.venue.$valid ? 0 : 1) > 0") required to save event.
                    span.green-text(ng-hide="(reqForms.time.$valid ? 0 : 1) + (reqForms.details.$valid ? 0 : 1) + (event.Artists.length > 0 ? 0 : 1) + (reqForms.venue.$valid ? 0 : 1) > 0") Event ready for publication !
        .container
            .nav-wrapper
                a.button-collapse.top-nav(href='', data-activates='nav-events')
                    i.mdi-navigation-menu            
                a.page-title.edit-page {{ event.Name ? event.Name : 'My Event' }}
                span.text-muted ( 
                    a.normal-link-underline(ui-sref='events') Back to events list
                    |  )
                .right
                    .nav-tools
                        a.nav-btn.waves-effect.waves-light.btn-flat.cancel(ui-sref='events') 
                            i.mdi-navigation-close.small
                        a.nav-btn.waves-effect.waves-light.btn-flat.save(ng-show='0', ng-click='event.Id ? update(event) : create(event)')
                            i.mdi-navigation-check.small    
                        // for testing event data
                        a.nav-btn.waves-effect.waves-light.btn-flat.save(ng-show='1', ng-click='(reqForms.time.$valid ? 0 : 1) + (reqForms.details.$valid ? 0 : 1) + (event.Artists.length > 0 ? 0 : 1) + (reqForms.venue.$valid ? 0 : 1) > 0 ? showRemainingStepsWarning() : event.Id ? update(event) : create(event);')
                            i.mdi-navigation-check.small    
  div(ng-show="step == StepEnum.HOME")
    h1 EDIT EVENT
  div(ng-show="step == StepEnum.TIME")
    form(name="reqForms.time")
        include partials/time.jade
  div(ng-show="step == StepEnum.DETAILS")
    form(name="reqForms.details")        
        include partials/details.jade
  div(ng-show="step >= StepEnum.COVER && step <= StepEnum.PHOTOS")
    include partials/photos.jade
  div(ng-show="step === StepEnum.ARTISTS")
    include partials/browseArtists.jade
  div(ng-show="step === StepEnum.LOCATION")
    form(name="reqForms.venue")
        include partials/location.jade
  div(ng-show="step === StepEnum.SOCIAL")
    form(name="social")
        include partials/social.jade
  div(ng-show="step === StepEnum.MIXTRACK")
    form(name="mixtrack")
        include partials/mixtracks.jade
script(type='text/javascript', src='/public/scripts/undo.js')
script(type='text/javascript', src='/public/scripts/sidenav.js')
