div(ng-init="setEventMode(false)")
    .fixed-action-btn.top-on-med-and-up
        a.tooltipped.btn-floating.btn-large.waves-effect.waves-light.orange.modal-trigger(data-target="modal-event", data-position="right", data-tooltip="Add Event")
            i.mdi-content-add
    .row            
        .col.m11.s12.right
            .input-field
                i.mdi-action-search.prefix
                input#search(type='text', ng-model='search', placeholder='Search events')
                label(for='search')    
    div(layout='row', flex='', ng-click='toggleSearch = false', ng-show='loadingEvents != "error"')
      md-table(headers='headers', content='content', sortable='sortable', filters='search', custom-class='custom', thumbs='thumbs', count='count')
    .center(ng-show="loadingEvents === 'loading'")
        .preloader-wrapper.big.active
            .spinner-layer.spinner-blue-only
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
        p loading your events... 
    .center(ng-show="loadingEvents === 'error'")
        i.mdi-alert-error.large.red-text
        p Unable to retrieve your events information. Please check your connection.
    .center(ng-show="loadingEvents === 'noArtistProfile'")
        i.mdi-alert-error.large.yellow-text
        p 
            | Events are linked to your artist profile. Please 
            a(ui-sref="account") set it up&nbsp
            | in order to proceed.
#modal-event.modal
    .modal-content
        h4 Add Event
        p.
            Do you want to create your own event or fetch info from an existing 
            one in your Facebook pages ?
        .row.flat-btn-panel
            .panel-btn.waves-effect.waves-light.modal-close
                .btn-content(ui-sref='createEvent')
                    i.small.text-white.mdi-action-today
                    br
                    span Create your own
            .panel-btn.waves-effect.waves-light(ng-click="getLoggedInUserEvents()")
                .btn-content
                    img(src="/public/img/icons/facebook-box.png", width='30', height='30', style="margin-top: 8px")
                    br
                    span Sync with Facebook
