content(ng-init='setEventMode(false)')    
    .container
        p {{ welcomeMsg }}     
        a.waves-effect.waves-light.btn-large(ui-sref='account', style="margin-right: 8px;")
          i.small.mdi-social-person.right
          YOUR ACCOUNT     
        a.waves-effect.waves-light.btn-large(ui-sref='events')
          i.small.mdi-editor-insert-invitation.right
          YOUR EVENTS
