div(ng-init="setEventMode(false)")
    .separator
    .container        
        h5 Pages
        .center(ng-show="pagesLoading === 'loading'")
            .preloader-wrapper.big.active
                .spinner-layer.spinner-blue-only
                    .circle-clipper.left
                        .circle
                    .gap-patch
                        .circle
                    .circle-clipper.right
                        .circle
            p Loading your synced pages...
        .center(ng-show="pagesLoading === 'error'")
            i.mdi-alert-error.medium.red-text
            p Unable to retrieve your synced pages. Please try again later.
        div(ng-show="pagesLoading == 'loaded'")
            ul.collapsible.popout(data-collapsible="accordion")
                li(ng-repeat="page in pages")
                    .collapsible-header
                        .collapsible-thumb(style="background: url({{ page.cover.source }})")
                        .page-name-truncate
                            span.page-name {{ page.name }}
                        span(style="color: gray;") {{ page.category }}
                        span.like-count {{ page.likes }} likes
                        i.tooltipped.mdi-navigation-close.small.btn-remove.btn-remove.right(data-position="right", data-tooltip="Remove page", ng-click='unsyncPageAndEvents($index);')
                    .collapsible-body.page-events
                        table
                            thead
                                tr
                                    th 
                                        input(type="checkbox", ng-model="page.Sync", id="syncall{{ $index }}", ng-click="syncPage(page, page.Sync)")
                                        label(for="syncall{{ $index }}") Sync
                                    th Title
                                    th Date
                            tbody
                                tr(ng-repeat="event in page.events.data")
                                    td 
                                        input(type="checkbox", ng-model="event.Sync", id="chk{{ event.id }}{{ $index }}", ng-checked="page.Sync || event.Sync", ng-disabled="page.Sync", ng-click="syncEvent(event.id, event.Sync)")
                                        label(for="chk{{ event.id }}{{ $index }}")
                                    td {{ event.name }}
                                    td {{ formatTime(event.start_time) }}
            .separator
            div(ng-if="!pages || pages.length == 0")
                span(style="color: gray;") You have not selected any page to sync with facebook yet.            
        a(href="", ng-click="searchPages = true;", ng-show="!searchPages;")    
            i
                img(style="vertical-align: middle; margin-right: 8px;", src="/public/img/icons/facebook-box-blue.png")
            span Add page...
        div(ng-show="searchPages")
            i(for="browsePages")
                img(style="vertical-align: middle; margin-right: 8px;", src="/public/img/icons/facebook-box-blue.png")
            label.tooltip.col.s12.m12(for="browsePages", ng-class="tooltipClass") {{ selectPageTooltip }}
            autocomplete#browsePages.col.s12.m12(data="pagesBrowse", ng-model='none', attr-placeholder="Search pages...", on-select="selectPage", on-type="browsePages", click-activation='true')                               
